<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DEFAULT_PU" transaction-type="JTA">
    <jta-data-source>jdbc/test</jta-data-source>
    <class>com.hellokoding.account.Models.Item</class>
    <class>com.hellokoding.account.Models.Statisticscollector</class>
    <class>com.hellokoding.account.Models.Address</class>
    <class>com.hellokoding.account.Models.Rrole1</class>
    <class>com.hellokoding.account.Models.Discountrule</class>
    <class>com.hellokoding.account.Models.Itemdiscount</class>
    <class>com.hellokoding.account.Models.Paymentbill</class>
    <class>com.hellokoding.account.Models.Payment</class>
    <class>com.hellokoding.account.Models.Itemgroup</class>
    <class>com.hellokoding.account.Models.So</class>
    <class>com.hellokoding.account.Models.Soproduct</class>
    <class>com.hellokoding.account.Models.Uuser1</class>
    <class>com.hellokoding.account.Models.Paymenttype</class>
    <class>com.hellokoding.account.Models.Customer</class>
    <class>com.hellokoding.account.Models.Group1</class>
    <class>com.hellokoding.account.Models.UserRole</class>
    <class>com.hellokoding.account.Models.ProductItems</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
